body {
  background-color:#595959;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
} 
header {
	width: 100%;
	height: 35px;
	position:fixed;
  background: #63B8EE;
  background: linear-gradient(top,  #5E5E5E,  #000000);
  background: -ms-linear-gradient(top,  #5E5E5E,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#5E5E5E), to(#000000));
  background: -moz-linear-gradient(top,  #5E5E5E,  #000000);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 3px 3px 1px #000000;
  z-index:999999;
}
section .page-wrap { 
	top: 300px;
	padding:0.1rem 0;
	z-index:2;
}
header .top-menu {
	top:1px; 
	left:30%; 
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
	z-index:99;
}
header .container{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	z-index:1;
}
header .top-menu li a {
	padding:1rem 1rem;
	float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 3px 3px 1px #000000;
  border: 1px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -ms-linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE0A20), to(#8C0D15));
  background: -moz-linear-gradient(top,  #EE0A20,  #8C0D15);
}
z-index:99;
}
header .top-menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-top: 15px solid black;
  border-left: 25px solid transparent
  border-right: 25px solid transparent;
  height: 25px;
  background-color: black;
  z-index:99;
}
header .top-menu a:hover {
  color: #000000 !important;
  background: #468CCF;
  background: linear-gradient(top,  #FFFFFF,  #EEEEEE);
  background: -ms-linear-gradient(top,  #FFFFFF,  #EEEEEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
  background: -moz-linear-gradient(top,  #FFFFFF,  #EEEEEE);
}
header .top-menu a.active {
  background-color: #4CAF50;
  color: white;
}
header .top-menu li:first-child a {
	border-bottom-left-radius: 1em;
}
header .top-menu li:last-child a {
	border-bottom-right-radius: 1em;
}
header .search-bar {
  position: fixed;
  display: inline-block;
  font-size: 6px;
  padding: 2px 7px;
  top: -1px;
  left: 75%;
  height: 30px;
  width: 20%;
  z-index: 999999;
}
.search-bar {
  display: inline-block;
  font-size: 6px;
  padding: 2px 7px;
  top: 0px;
  left: 75%;
  height: 30px;
  width: 20%;
  z-index: 999999;
}
.form {
  display: block;
  margin-top: 0em;
  height: 20px;
}
.form-control {
  height: 30px;
}
.btn-dager {
  height: 30px;
}
  #btn{
  font-size: 11px;
  height: 30px
  }
.col-lg-3 {
  padding-right:0px;
  padding-left:0px; 
  margin-left:0px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #EE0A20;
  border-style: ridge;
  width:100%;
  height:auto;
  min-height:150px;
  background-color:#000;
  position:relative;
}
.col-lg-9 {
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #EE0A20;
  border-style: ridge;
  width:100%;
  height:auto;
  padding-right:0px;
  padding-left:0px; 
  margin-left:0px;
  min-height:150px;
  background-color:#000;
  position:relative;
}
.slide {
  display:flex;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #EE0A20;
  border-style: ridge;
  vertical-align: middle;
  position: relative;
  height: 300px;
  width: 100%;
  background-clip: content-box;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(#000,#000);
  border-top-left-radius: 40% 20%;
  border-top-right-radius: 40% 20%;
}
.widget {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
#swgimage {
  position:relative;
  left:38%;
  top:60px ;
  height: 330px ;
  width: 330px;
  background-image: url("../images/swg.png");
  z-index: 9999;
}
.side-menu {
	top:1px; 
	left:30%; 
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
	z-index:99;
}
.side-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: bold 18px;
}	
.side-menu ul li a {
	display: block;
	overflow: auto;
	height: 40px;
	width: 100%;
	padding:6px;
	float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-family: arial;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -ms-linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE0A20), to(#8C0D15));
  background: -moz-linear-gradient(top,  #EE0A20,  #8C0D15); 
  z-index:99;
}
.side-menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-top: 15px solid black;
  border-left: 25px solid transparent
  border-right: 25px solid transparent;
  height: 25px;
  background-color: black;
  z-index:99;
}
.side-menu a:hover {
  color: #000000 !important;
  background: #468CCF;
  background: linear-gradient(top,  #FFFFFF,  #EEEEEE);
  background: -ms-linear-gradient(top,  #FFFFFF,  #EEEEEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
  background: -moz-linear-gradient(top,  #FFFFFF,  #EEEEEE);
}
.side-menu a.active {
  background-color: #4CAF50;
  color: white;
}
.cpr {
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #EE0A20;
  border-style: ridge;
  width:100%;
	height:auto;
	padding:10px;
	min-height:5px;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	background-color:#000;
	position:relative;
}
.card {
  border: 0px;
}
.card-body {
  background-color:#000000;
  border: 0px;
  list-style-type:none;
  outline:  0px;
  display:flex;
}
.blog-content {
  justify-content: none;
  align-items: none;
}
.btn  {
  display: block;
  overflow: auto;
  width: 100px;
  height: 40px;
  padding:6px;
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-family: arial;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 3px 3px 1px #000000;
  border: 1px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -ms-linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE0A20), to(#8C0D15));
  background: -moz-linear-gradient(top,  #EE0A20,  #8C0D15); 
}
.head1 {
  display: block;
  overflow: auto;
  height: 40px;
  width: 100%;
  padding:6px;
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-family: arial;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -ms-linear-gradient(top,  #EE0A20,  #8C0D15);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE0A20), to(#8C0D15));
  background: -moz-linear-gradient(top,  #EE0A20,  #8C0D15); 
}
.widget.textwidget{
  width:100%;
  height: 100%;
}
.img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
}
 .wp-caption {

 }
 .wp-caption-text {

 }
 .screen-reader-text {

 }
 .gallery-caption {

 }
  .bypostauthor {

  }
  .alignright {

  }
   .alignleft {

   }
   .aligncenter {

   }